<div class="toast" [ngClass]="toastClass">
  <i class="toaster-icon" [ngClass]="iconClass"></i>
  <div class="toast-content">
    <div [ngClass]="toast.toasterConfig?.titleClass">{{toast.title}}</div>
    <div [ngClass]="toast.toasterConfig?.messageClass" [ngSwitch]="toast.bodyOutputType">
      <div *ngSwitchCase="bodyOutputType.Component" #componentBody></div>
      <div *ngSwitchCase="bodyOutputType.TrustedHtml" [innerHTML]="toast.body"></div>
      <div *ngSwitchCase="bodyOutputType.Default">{{toast.body}}</div>
    </div>
  </div>
  <div class="toast-close-button" *ngIf="toast.showCloseButton" (click)="click($event, toast)"
       [innerHTML]="safeCloseHtml">
  </div>
</div>

