
.layout {
  height: 100%;
}

.ant-layout-header {
  background: #FFCC00;
  padding: 0px 35px;
  height: 60px;
  line-height: 60px;
  .logo {
    float: left;
    margin: 10px 0px;
    height: 40px;
  }
  .userIcon {
    height: 40px;
    margin: 10px 0px;
    float: right;
    .user-text {
      margin-right: 40px;
      padding-left: 35px;
      background: url("../../../assets/img/text.png") no-repeat left center;
      float: left;
      height: 40px;
      span {
        display: block;
        line-height: 40px;
      }
    }
  }
}

.ant-breadcrumb {
  font-size: 13px;
  color: #5E6D82;
  letter-spacing: 0;
}

